.answer{
    width:80%;
    margin-left:auto; 
    margin-right:auto;
    background-color:red;
    color: white;
}

.answer-container {
    text-align:center;

    &:nth-child(1) .answer {
        background-color:green;
    }

    &:nth-child(2) .answer {
        background-color:blue;
	}
	
	.answer:hover{
		background-color:yellow;
    }
}
