.answer{
    width:80%;
    margin-left:auto; 
    margin-right:auto;
    background-color:red;
    color: white;
}

.question-container {
    display:table;
    height:200px;
    
    .question-wrapper{
        display:table-cell;
        vertical-align:middle;
    }
}

.answers-container {
    clear:both;
}

.answer-container {
    text-align:center;

    &:nth-child(1) .answer {
        background-color:green;
    }

    &:nth-child(2) .answer {
        background-color:blue;
	}
	
	.answer:hover{
		background-color:yellow;
    }
}
#SplashScreen{
}

