.answer{
    width:80%;
    margin-left:auto; 
    margin-right:auto;
    background-color:red;
    color: white;
}

#TriviaGame {
    .image-container {
        text-align: center;
    }

}
.question-container {
    display:table;
    height:200px;
    padding-left: 50px;
    padding-right: 50px;
    
    
    .question-wrapper{
        display:table-cell;
        border-radius: 10px;
        vertical-align:middle;
    }
}

.answers-container {
    clear:both;
}

.answer-container {
    text-align:center;
    margin-top:30px;

    &:nth-child(1) .answer {
        background-color:green;
    }

    &:nth-child(2) .answer {
        background-color:blue;
	}
	
	.answer:hover{
		background-color:yellow;
    }
}

.biy-splash {
    margin-top:100px;
    text-align:center;
}

#SplashScreen{
    cursor: pointer;
    
    p {
        margin-top:10px;
        font-size:20px;
    }
    
}

#splash-icon {
    height:200px;
}

#pgrbar-lbl {
    background-color: #fff;
    margin-top:20px;
}
